body {
	font-size: 100%;
}

nav {
	font-size: 120%;
}

/* Big wrapper container */
.container {
	display: grid;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: auto;
  grid-template-areas:
      "sidebar main";
}
