/* Big wrapper container */
.container {
	display: grid;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: auto;
  grid-template-areas:
      "sidebar main";
}

/* Projects button */
.styledButton {
    -webkit-appearance: none;
    border-radius: 0;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    border-radius: 12px;
}

/* Bulleted lists */
.bulletList {
  width: 70%;
  margin: auto;
  text-align: left;
}
.bulletList p {
  padding: none;
  margin: 0px;
}

/* Horizontal lists */
.list-horizontal {
  margin-left: 6%;
}
.list-horizontal li {
	display:inline-block;
}
.list-horizontal li:before {
	content: '\00a0\2022\00a0\00a0';
	color:#999;
	color:rgba(0,0,0,0.5);
	font-size:11px;
}
.list-horizontal li:first-child:before {
	content: '';
}

/* Courses left and right */
.left_right_container {
	width: 70%;
	margin: auto;
}
.left {
  float: left;
  width: 50%;
  margin: auto;
}
.right {
  float: left;
  width: 50%;
  margin: auto;
  text-align: right;
}
