/* Big wrapper container */
.container {
	display: grid;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: auto;
  grid-template-areas:
      "sidebar main";
}

#profile-pic {
  width: 300px;
  height: 300px;
}