.projectContainer {
  border-color: blue;
  border: solid;
  width: 300px;
  height: 250px;
  margin: auto;
  background-color: rgba(216, 245, 255, 0.5);
  padding: 0;
  position: relative;
  text-align: center;
}

.container-projects {
  display: grid;
  grid-template-areas:
      "cell0 cell1 cell2"
      "cell3 cell4 cell5"
      "cell6 cell7 cell8"
      "cell9 cell10 cell11";
  grid-gap: 20px;
  justify-content: center;
	grid-template-rows: repeat(4, 250px);
}
