.container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-areas:
      "cell1 cell2 cell3"
      "cell4 cell5 cell6"
      "cell7 cell8 cell9";
  grid-gap: 20px;
  justify-content: center;
}
