body {
	font-size: 150%;
}
nav {
	font-size: 170%;
}


.imageContainer {
  height: 80%;
  background-color: white;
}
.infoContainer {
  width: 100%;
  height: 20%;
	margin: auto;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.projectImage {
  width: 100%;
  height: 100%;
}

.videoDisplay {
  width: 100%;
  height: 60%;
}

.videoAbout {
  width: 90%;
  margin:auto;
  text-align: left;
}

.projectTable {
	width: 80%;
	height: 90%;
	margin: auto;
}

.projectTable a:visited {
  color: blue;
}

.videoImage {
	width: 80%;
	margin: auto;
}

video {
	width: 100%;
	margin: auto;
}

.videoImageContainer {
	text-align: center;
}
