.projectContainer {
  border-color: blue;
  border: solid;
  width: 390px;
  height: 300px;
	margin: auto;
  background-color: rgba(216, 245, 255, 0.5);
  padding: 0;
  position: relative;
	text-align: center;
}

.container {
	display: grid;
	grid-template-areas:
       "cell0 cell1"
       "cell2 cell3"
       "cell4 cell5"
			 "cell6 cell7"
			 "cell8 cell9"
			 "cell10 cell11";
	grid-gap: 20px;
	justify-content: center;
}
