body {
  /* background-image: url(./images/space.jpg); */
  height: 100%;
  background-size: cover;
  text-align: center;
}

h1 {
  font-size: 30px;
}

/* Navigation Bar */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height:100%;
  overflow: hidden;
  background-color: #333;
  font-family: "Courier";
}


nav li {
  display:inline-block;
  float:left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

nav li a:hover:not(.active){
background-color: #111;
}

nav a.active {
  background-color: #4CAF50;
}
/* SubOptions */
nav li ul {
  display: none;
}
nav li ul li {
    display: block;
    float: none;
}

li ul li a {
    width: auto;
    min-width: 140px;
    padding: 0px;
}

nav li ul li a:hover + .hidden, .hidden:hover {
    display: block;
}


.infoBar a:link {
  text-decoration: none;
}

.infoBar a:visited {
    text-decoration: none;
    color: black;
}

.infoBar a:hover {
    color: blue;
}

.infoBar a {
  text-decoration: none;
  color: black;
}


/* Home Page */
section {
 display: flex;
}

#projectsSection {
  display: flex;
}

#projectsAside {
  flex:0;
}

#projectsArticle {
  flex:4;
}

aside {
flex: 1
}

article {
flex: 4
}

.article {
  padding: 10px;
}


/* Project Stuff */
.projectContainer {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "cell11 cell12 cell13"
        "cell21 cell22 cell23"
        "cell31 cell32 cell33";
    grid-gap: 20px;
    padding-left: 5px;
  }


.projectCell {
  border-color: blue;
  border: solid;
  width: 390px;
  height: 300px;
  background-color: rgba(216, 245, 255, 0.5);
  padding: 0;
  position: relative;
}

.infoBar {
  width: 390px;
  height: 20%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.projectCellDisplay {
  height: 80%;
  background-color: white;
}

.projectImage {
  width: 100%;
  height: 100%;
}

.cell11 {
  grid-area: cell11;
}
.cell12 {
  grid-area: cell12;
}
.cell13 {
  grid-area: cell13;
}
.cell21 {
  grid-area: cell21;
}
.cell22 {
  grid-area: cell22;
}
.cell23 {
  grid-area: cell23;
}
.cell31 {
  grid-area: cell31;
}
.cell32 {
  grid-area: cell32;
}
.cell33 {
  grid-area: cell33;
}

/* Project View */
.projectTable {
    padding: 10px;
    flex-direction: column;
    justify-content: center;
  }

.videoDisplay {
  width: 100%;
  height: 60%;
}

.videoAbout {
  width: 60%;
  margin:auto;
  text-align: left;
}

.videoAbout p {
  font-size: 20px;
}

.videoAbout li {
  font-size: 20px;
}

.videoSourceCode {
  width: 60%;
  margin: auto;
  text-align: left;
}

.videoSourceCode p {
  font-size: 20px;
}

.experience {
  padding-top: 10px;
}

.experience ul {
  list-style-position: outside;
}

.bulletList {
  width: 70%;
  margin: auto;
  text-align: left;
}

.bulletList p {
  padding: none;
  margin: 0px;
}

.experience a:visited {
  text-decoration: none;
  color: blue;
}

.left {
  float: left;
  width: 50%;
  margin: auto;
}

.right {
  float: left;
  width: 50%;
  margin: auto;
  text-align: right;
}

.smallHeader {
  width: 40%;
}

.list-horizontal {
  margin-left: 6%;
}
.list-horizontal li {
	display:inline-block;
}
.list-horizontal li:before {
	content: '\00a0\2022\00a0\00a0';
	color:#999;
	color:rgba(0,0,0,0.5);
	font-size:11px;
}
.list-horizontal li:first-child:before {
	content: '';
}

.styledButton {
    -webkit-appearance: none;
    border-radius: 0;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    border-radius: 12px;
}
